nav{
  display: flex;
  a{
    height:40px;
    text-align: center;
    font-size:16px;
    text-decoration: none;
    line-height:40px;
    color:rgba(0,0,0,0.6);
    justify-content: space-between;
    width:33.33%;
    position:relative;
    background-color: #fff;
  }
  .tab-active{
    color:$the-green;
    &:after{
      content:"";
      display: block;
      position:absolute;
      bottom:0px;
      height:3px;
      width:100%;
      background-color: $the-green;
    }
  }
}