//第一个页面 推荐页面



.rec-header{
  padding:10px ;
}
.radio-container,.songlist-container{
  margin-left:10px;
  margin-top:5px;
}
footer{
  margin:20px auto;
  width:120px;

  img{
    width:100%;

  }
}
.radio-item,.songlist-item{
  width:50%;
  padding-right:8px;
  box-sizing: border-box;
  float:left;
  position: relative;
  margin-bottom:10px;
  .img-box{
    width:100%;
    position: relative;
    img{
      width:100%;
    }
    .icon-play{
      height: 24px;
      width: 24px;
      right:5px;
      bottom:10px;
      background-position: 0 0;
    }
    .listen-count{
      position: absolute;
      bottom:13px;left:10px;;
      font-size:10px;
      line-height:10px;
      color:#fff
    }
  }

  .radio-title,.song-title{
    font-size:14px; 
    margin-top:-4px;
    padding:5px 0 30px 8px;
    background-color: #fff;
  }
  .song-title{
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding:5px 5px 5px 5px;
  }
  .song-author{
    font-size:12px;
    background-color: #fff;
    padding:0px 0 5px 5px ;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

