

.search-box{
  padding:10px;
  display:flex;
  position: relative;
  input{
    flex:1;
    outline: none;
    border:1px solid $body-bgc;
    border-radius: 5px;
    width:100%;
    height:36px;
    padding:8px 12px 8px 35px ;
    background-color: #fff;
    color: rgba(0,0,0,.3);
    
  }
  .search-cancel{
    line-height:36px;
    padding:0 10px;
  }
  .icon-search{
    position: absolute;
    top: 18px;
    left: 20px;
    width: 18px;
    height: 18px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -999px;
  }
}
.search-info{
  background-color: #fff;
  .song-list{
    overflow: hidden;
    .song-item{
      box-sizing: content-box;
      display: block;
      text-decoration: none;
      background-color: #fff;
      width:100%;
      position: relative;
      height:50px;
      padding-left:56px;
      font-size:16px;
      padding-top:1px;
      &:after{
        content:'';
        height:1px;
        width:100%;
        background-color: #e5e5e5;
        display: block;
        position: absolute;
        top:0;left:0;right:0;
      }
      .song-title{
        color:#000;
        margin:5px 0 2px 0 
      }
      .song-artist{
        color:#808080;
        font-size:12px;
      }
    }

  }
  .icon-music{
    background-image: url(../images/icon-music.png);
    background-repeat: no-repeat;
    background-size: 22px 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 22px;
    height: 20px;
  }
}
.search-loading{
  height:50px;
  background-color: #f4f4f4;
  position:relative;
  text-align: center;
  line-height:50px;
  .icon-loading{
    display:inline-block;
    position: relative;
    height:18px;
    width:18px;
    top:4px;
    background-image: url(../images/icon_loading.png);
    background-size: cover;
    animation:loading 1s infinite linear;
  }
  .search-loading-content{
    display:inline-block;
    font-size: 14px;
  }
}
@keyframes loading {
0% {transform: rotate(0deg);}
100% {transform: rotate(359deg);}
  }

.search-history{
  .history-list{
    background-color: #fff;
    .history-item{
      border-top:1px solid $body-bgc;
      position: relative;
      line-height:40px;
      .history-keyword{
        margin-left:50px;
        font-size:14px;
      }
      .icon-clock{
        position: absolute;
        background-image: url(../images/clock_ic.png);
        background-size: cover;
        height:20px;
        width: 20px;
        top:10px;
        left:15px;
      }
      .icon-close{
        position: absolute;
        width:16px;
        height:16px;
        right:15px;
        top:10px;
        color:#555;

      }
      .icon-close::before, .icon-close::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 50%;
        left: 0;
        background: #777;
      }
      .icon-close::before{
        transform:rotate(45deg)
      }
      .icon-close::after{
        transform:rotate(-45deg)
      }
    }
  }
  .clear-history{
    margin:10px auto;
    color :$the-green;
    font-size:12px;
    text-align: center
  }
}
.search-nomore{
  background-color: $body-bgc;
  text-align: center;
  font-size:14px;
  line-height: 40px;
  height:40px;
}