.swiper-slide{
  a{
    width:100%;display:block;
    img{width:100%;}
  }
}
.swiper-pagination-bullet {
  background-color: $body-bgc;
}
.swiper-pagination-bullet-active {
  background-color: #fff;

}