@import "var";
@import "header";
@import "reset";
@import "recommend";
@import "slider";
@import "nav";
@import "toplist";
@import "search";
@import "player";

/*导入scss文件,却不需要将它编译为css文件做法:
 *(1)新建一个文件夹,为了将不需要编译的文件和需要编译的文件分开,这点千万注意
 *(2)在已经建好的文件夹里面,将不要编译的*.scss文件命名为_*.scss
 *(3)导入的时候不要用下划线,直接@import("新建文件夹名字/*.scss")
 */

// p{background-color: blue;}
body{
  background-color: $body-bgc;
  // font-family :"hiragino sans gb", arial
}
a{
  text-decoration: none;
}
.hide{
  display:none;
}
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}


