@import "var";
@import "header";
@import "reset";
@import "recommend";
@import "slider";
@import "nav";
@import "toplist";

/*导入scss文件,却不需要将它编译为css文件做法:
 *(1)新建一个文件夹,为了将不需要编译的文件和需要编译的文件分开,这点千万注意
 *(2)在已经建好的文件夹里面,将不要编译的*.scss文件命名为_*.scss
 *(3)导入的时候不要用下划线,直接@import("新建文件夹名字/*.scss")
 */

// p{background-color: blue;}
body{
  background-color: $body-bgc;
  // font-family :"hiragino sans gb", arial
}
.hide{
  display:none;
}
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
.icon-play{
  background-image: url(../images/list_sprite.png);
  background-repeat: no-repeat;
  background-size: 24px 60px;
  position: absolute;
  display: block;
  z-index:10;
}
.icon-listen{
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  background-position: 0 -50px;
  margin-right: 3px;
}
